# A medida que vou usando vou retirando daqui do .gitignore
spring-boot-docs/pom.xml
spring-boot-docs/src/
spring-boot-samples/README.adoc
spring-boot-samples/spring-boot-sample-activemq/
spring-boot-samples/spring-boot-sample-actuator-log4j2/
spring-boot-samples/spring-boot-sample-actuator-noweb/
spring-boot-samples/spring-boot-sample-actuator-ui/
spring-boot-samples/spring-boot-sample-actuator/
spring-boot-samples/spring-boot-sample-amqp/
spring-boot-samples/spring-boot-sample-ant/
spring-boot-samples/spring-boot-sample-aop/
spring-boot-samples/spring-boot-sample-atmosphere/
spring-boot-samples/spring-boot-sample-batch/
spring-boot-samples/spring-boot-sample-cache/
spring-boot-samples/spring-boot-sample-data-cassandra/
spring-boot-samples/spring-boot-sample-data-couchbase/
spring-boot-samples/spring-boot-sample-data-elasticsearch/
spring-boot-samples/spring-boot-sample-data-gemfire/
spring-boot-samples/spring-boot-sample-data-jpa/
spring-boot-samples/spring-boot-sample-data-mongodb/
spring-boot-samples/spring-boot-sample-data-neo4j/
spring-boot-samples/spring-boot-sample-data-redis/
spring-boot-samples/spring-boot-sample-data-rest/
spring-boot-samples/spring-boot-sample-data-solr/
spring-boot-samples/spring-boot-sample-devtools/
spring-boot-samples/spring-boot-sample-flyway/
spring-boot-samples/spring-boot-sample-hateoas/
spring-boot-samples/spring-boot-sample-hibernate4/
spring-boot-samples/spring-boot-sample-hornetq/
spring-boot-samples/spring-boot-sample-hypermedia-gson/
spring-boot-samples/spring-boot-sample-hypermedia-jpa/
spring-boot-samples/spring-boot-sample-hypermedia-ui/
spring-boot-samples/spring-boot-sample-hypermedia/
spring-boot-samples/spring-boot-sample-integration/
spring-boot-samples/spring-boot-sample-jersey/
spring-boot-samples/spring-boot-sample-jersey1/
spring-boot-samples/spring-boot-sample-jetty-ssl/
spring-boot-samples/spring-boot-sample-jetty/
spring-boot-samples/spring-boot-sample-jetty8-ssl/
spring-boot-samples/spring-boot-sample-jetty8/
spring-boot-samples/spring-boot-sample-jetty93/
spring-boot-samples/spring-boot-sample-jooq/
spring-boot-samples/spring-boot-sample-jpa/
spring-boot-samples/spring-boot-sample-jta-atomikos/
spring-boot-samples/spring-boot-sample-jta-bitronix/
spring-boot-samples/spring-boot-sample-jta-jndi/
spring-boot-samples/spring-boot-sample-jta-narayana/
spring-boot-samples/spring-boot-sample-liquibase/
spring-boot-samples/spring-boot-sample-logback/
spring-boot-samples/spring-boot-sample-metrics-dropwizard/
spring-boot-samples/spring-boot-sample-metrics-opentsdb/
spring-boot-samples/spring-boot-sample-metrics-redis/
spring-boot-samples/spring-boot-sample-parent-context/
spring-boot-samples/spring-boot-sample-profile/
spring-boot-samples/spring-boot-sample-property-validation/
spring-boot-samples/spring-boot-sample-secure-oauth2-resource/
spring-boot-samples/spring-boot-sample-secure-oauth2/
spring-boot-samples/spring-boot-sample-secure/
spring-boot-samples/spring-boot-sample-servlet/
spring-boot-samples/spring-boot-sample-session-redis/
spring-boot-samples/spring-boot-sample-simple/
spring-boot-samples/spring-boot-sample-test/
spring-boot-samples/spring-boot-sample-testng/
spring-boot-samples/spring-boot-sample-tomcat-jsp/
spring-boot-samples/spring-boot-sample-tomcat-multi-connectors/
spring-boot-samples/spring-boot-sample-tomcat-ssl/
spring-boot-samples/spring-boot-sample-tomcat/
spring-boot-samples/spring-boot-sample-tomcat7-jsp/
spring-boot-samples/spring-boot-sample-traditional/
spring-boot-samples/spring-boot-sample-undertow-ssl/
spring-boot-samples/spring-boot-sample-undertow/
spring-boot-samples/spring-boot-sample-velocity/
spring-boot-samples/spring-boot-sample-war/
spring-boot-samples/spring-boot-sample-web-freemarker/
spring-boot-samples/spring-boot-sample-web-groovy-templates/
spring-boot-samples/spring-boot-sample-web-jsp/
spring-boot-samples/spring-boot-sample-web-method-security/
spring-boot-samples/spring-boot-sample-web-mustache/
spring-boot-samples/spring-boot-sample-web-secure-custom/
spring-boot-samples/spring-boot-sample-web-secure-github/
spring-boot-samples/spring-boot-sample-web-secure-jdbc/
spring-boot-samples/spring-boot-sample-web-secure/
spring-boot-samples/spring-boot-sample-web-ui/
spring-boot-samples/spring-boot-sample-web-velocity/
spring-boot-samples/spring-boot-sample-webservices/
spring-boot-samples/spring-boot-sample-websocket-jetty/
spring-boot-samples/spring-boot-sample-websocket-tomcat/
spring-boot-samples/spring-boot-sample-websocket-undertow/
spring-boot-samples/spring-boot-sample-xml/
spring-boot-starters/
